<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <h1>Hello Automation Logic</h1>
    <p>This is running on vagrant created machines.
    An nginx loadbalancer is servicing 2 web servers, running a python application 
    </p>
    <h3>Justification for approach</h3>
    <p>> Decided to create a 4th host to run ansible instead of using vagrants built-in provisioner to not exclude windows users</p>
    <h3>Improvements</h3>
    <p>> Use boxes that already come with the desired services/packages preinstalled to save time on provisioning</p>
    <h3>Compromises</h3>
    <p>> Functionality of app</p>
</body>
</html>